/*#reset*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*#HEADER*/
.logo-image{
  height: 100px;
  width: 100px;
  padding-top: 10px;
  padding-left: 10px;
}
.logo-title{
    display:inline;
    font-size: 60px;
    font-style: normal;
    
    line-height: 100px
    
}


/*#div*/
.container{
    background-color: white;
    padding: 30px 300px;

}
/*#MAIN*/
main{
    padding: 2px 300px
}










}